.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 91px;
}
.sign-up-to3 {
  position: absolute;
  width: 77.35%;
  top: 13.04%;
  left: 22.65%;
  line-height: 35.2px;
  display: inline-block;
}
.ellipse2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-black);
}
.text2 {
  position: absolute;
  top: 26.09%;
  left: 17.39%;
  letter-spacing: -2px;
}
.ellipse-container {
  position: absolute;
  height: 100%;
  width: 19.66%;
  top: 0;
  right: 80.34%;
  bottom: 0;
  left: 0;
  text-align: right;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-questrial);
}
.logo2 {
  position: absolute;
  height: 50.55%;
  width: 16.25%;
  top: 25.27%;
  right: 80.63%;
  bottom: 24.18%;
  left: 3.13%;
  font-size: var(--font-size-xl);
  font-family: var(--font-zen-kaku-gothic-antique);
}
.home,
.products {
  position: absolute;
  top: 37px;
  left: 339px;
}
.products {
  left: 412px;
}
.about,
.cart,
.contact1,
.gallery {
  position: absolute;
  top: 37px;
  left: 505px;
}
.about,
.cart,
.contact1 {
  left: 586px;
}
.about,
.contact1 {
  left: 648px;
}
.contact1 {
  top: 38px;
  left: 721px;
}
.button {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.button-fill-rounded-sm,
.button-outline-sm {
  position: absolute;
  top: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  text-align: center;
  font-size: var(--label-label-1-semibold-size);
  font-family: var(--label-label-1-semibold);
}
.button-fill-rounded-sm {
  left: 1181px;
  background-color: var(--color-black);
  color: var(--color-limegreen);
}
.button-outline-sm {
  left: 1304px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
}
.image-28-icon,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 91px;
}
.image-28-icon {
  top: 91px;
  height: 933px;
  object-fit: cover;
}
.group-item {
  border: 1px solid var(--color-black);
  outline: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 356.6px;
  height: 60.5px;
}
.group-inner {
  position: absolute;
  top: 4.3px;
  left: 3.8px;
  width: 59.8px;
  height: 51.9px;
  object-fit: cover;
}
.type-your-issue {
  position: absolute;
  top: 18.4px;
  left: 63.6px;
  font-weight: 300;
  display: inline-block;
  width: 287.2px;
  height: 37.8px;
}
.rectangle-group {
  position: absolute;
  top: 9.5px;
  left: 893.5px;
  width: 356.6px;
  height: 60.5px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.submit-a-request,
.your-email-address {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.submit-a-request {
  top: 0;
  left: 0;
  font-size: 36px;
  width: 349.9px;
  height: 53.6px;
}
.your-email-address {
  top: 70px;
  left: 3.9px;
  width: 252.5px;
  height: 48.4px;
}
.group-child1,
.rectangle-input,
.rectangle-textarea {
  border: 1px solid var(--color-black);
  outline: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 100px;
  left: 0;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 754px;
  height: 45px;
}
.group-child1,
.rectangle-textarea {
  top: 212px;
}
.rectangle-textarea {
  top: 324px;
  height: 124px;
}
.description,
.subject {
  position: absolute;
  top: 178px;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 192.8px;
  height: 48.4px;
}
.description {
  top: 283px;
  left: 4px;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: rgba(1, 87, 255, 0.74);
  width: 262px;
  height: 77.9px;
}
.submit {
  position: absolute;
  top: 18px;
  left: 68px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 120.8px;
  height: 37.6px;
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 487px;
  left: 14px;
  width: 262px;
  height: 77.9px;
}
.group-child2 {
  border-radius: 100px;
  background-color: rgba(1, 87, 255, 0.2);
}
.group-child2,
.help,
.rectangle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 217.8px;
  height: 69.8px;
}
.help {
  top: 9px;
  left: 63px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: #3083e3;
  text-align: left;
  display: inline-block;
  width: 144.6px;
  height: 60.8px;
}
.group-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 491px;
  left: 1032px;
  width: 217.8px;
  height: 69.8px;
}
.group-parent {
  position: absolute;
  top: 142px;
  left: 84px;
  width: 1250.1px;
  height: 564.9px;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
}
.contact {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
