.contact-frame-child {
  height: 105px;
  width: 1440px;
  position: relative;
  background-color: var(--color-limegreen-200);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.home {
  width: 259px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.frames {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.products {
  width: 259px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.frames1 {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin-left: -92px;
}
.gallery {
  width: 259px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.frames2 {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin-left: -92px;
}
.contact1 {
  width: 239px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frames3 {
  width: 143px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  margin-left: -92px;
}
.about,
.cart {
  height: 66px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.cart {
  margin-left: -113px;
}
.about-cart-frame {
  width: 365px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin-left: -92px;
}
.contact-,
.contact-frame {
  max-width: 100%;
  box-sizing: border-box;
}
.contact-frame {
  align-self: stretch;
  background-color: var(--color-limegreen-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-20xl) 0 0;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: center;
  font-size: var(--font-size-7xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.contact- {
  margin: 0;
  width: 982px;
  position: relative;
  font-size: inherit;
  display: inline-block;
  font-style: italic;
  font-weight: 800;
  font-family: inherit;
  padding-left: var(--padding-xl);
}
.home-products-gallery-frames-child {
  height: 215px;
  width: 1194px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-limegreen-200);
  display: none;
  max-width: 100%;
}
.blank-line {
  margin: 0;
}
.have-questions-or {
  margin: 0;
  font-weight: 800;
}
.have-questions-or-container {
  height: 159px;
  width: 1158px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.feedback-text,
.home-products-gallery-frames {
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.home-products-gallery-frames {
  width: 1194px;
  border-radius: var(--br-3xs);
  background-color: var(--color-limegreen-200);
  display: flex;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xs) 46px;
  box-sizing: border-box;
}
.feedback-text {
  align-self: stretch;
  text-align: center;
  font-size: var(--font-size-12xl);
  color: var(--color-white);
}
.contact,
.contact-text,
.empty-frame,
.feedback-text {
  display: flex;
  justify-content: flex-start;
}
.contact-text {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px 0;
  max-width: 100%;
}
.contact,
.empty-frame {
  box-sizing: border-box;
}
.empty-frame {
  width: 1320px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-mini);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-53xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.contact {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 541px;
  gap: 42px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .contact- {
    font-size: var(--font-size-39xl);
  }
  .have-questions-or-container {
    font-size: var(--font-size-6xl);
  }
  .contact {
    gap: 42px 0;
  }
}
@media screen and (max-width: 675px) {
  .contact-text {
    gap: 32px 0;
  }
}
@media screen and (max-width: 450px) {
  .contact- {
    font-size: var(--font-size-24xl);
  }
  .have-questions-or-container {
    font-size: var(--font-size-lgi);
  }
}
