.gallery-child {
  width: 210px;
  height: 77px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
  z-index: 0;
}
.image-5-icon3 {
  width: 200px;
  height: 210px;
  position: absolute;
  margin: 0 !important;
  top: 239px;
  right: 508px;
  object-fit: cover;
  z-index: 1;
}
.products-frame-item {
  height: 105px;
  width: 1440px;
  position: relative;
  background-color: var(--color-limegreen-200);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.home4 {
  width: 259px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.contact-frame1 {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.products4 {
  width: 259px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.contact-frame2 {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin-left: -92px;
}
.gallery4 {
  width: 259px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.contact-frame3 {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin-left: -92px;
}
.contact4 {
  width: 239px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.contact-frame4 {
  width: 143px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  margin-left: -92px;
}
.about3,
.cart3 {
  height: 66px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.cart3 {
  z-index: 2;
  margin-left: -115px;
}
.about-group,
.products-frame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.about-group {
  width: 363px;
  margin-left: -92px;
}
.products-frame1 {
  align-self: stretch;
  background-color: var(--color-limegreen-200);
  padding: var(--padding-20xl) 0 0;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: center;
  font-size: var(--font-size-7xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.gallery-,
.image-2-icon2 {
  position: relative;
  max-width: 100%;
}
.gallery- {
  margin: 0;
  width: 962px;
  font-size: inherit;
  display: inline-block;
  font-style: italic;
  font-weight: 800;
  font-family: inherit;
}
.image-2-icon2 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-text-child {
  height: 77px;
  width: 210px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.oil-bottle2 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  z-index: 3;
}
.frame-text,
.image {
  display: flex;
  justify-content: flex-start;
}
.frame-text {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) var(--padding-mini) var(--padding-7xl)
    var(--padding-5xs);
  background-color: var(--color-gainsboro);
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
  z-index: 2;
  margin-top: -8px;
}
.frame-text:hover,
.hanging-shelf-frame3:hover,
.image1:hover,
.leaf-cup-plate-holder:hover,
.water-planter-frame1:hover {
  background-color: var(--color-silver);
}
.image {
  height: 291px;
  width: 235px;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 var(--padding-6xl) 0 0;
  box-sizing: border-box;
}
.image-5-icon4 {
  height: 201px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.image-5-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.frame-text-item {
  height: 81px;
  width: 217px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.hanging-bells2 {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.frame-parent1,
.frame-text1 {
  display: flex;
  align-items: flex-start;
}
.frame-text1 {
  align-self: stretch;
  background-color: var(--color-gainsboro);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-9xs) var(--padding-11xl)
    var(--padding-11xs);
  white-space: nowrap;
}
.frame-parent1 {
  width: 235px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 0;
  box-sizing: border-box;
}
.home-frame {
  width: 200px;
  height: 81px;
  position: relative;
  background-color: var(--color-gainsboro);
}
.bird-feeder2 {
  align-self: stretch;
  height: 40px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
  margin-top: -63px;
}
.empty-frame2 {
  height: 81px;
  width: 211px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-6-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.contact-frame-item {
  height: 72px;
  width: 206px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.royal-painting1 {
  height: 38px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.contact-frame5 {
  align-self: stretch;
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lgi) 0 var(--padding-mini);
  white-space: nowrap;
  margin-top: -6px;
}
.image-6-parent {
  height: 292px;
  width: 206px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper,
.gallery-parent,
.image-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.image-parent {
  align-items: flex-end;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: 0 75px;
}
.frame-wrapper,
.gallery-parent {
  align-self: stretch;
  align-items: flex-start;
  text-align: center;
  font-size: var(--font-size-6xl);
}
.gallery-parent {
  flex-direction: column;
  align-items: flex-end;
  gap: 20px 0;
  text-align: left;
  font-size: var(--font-size-53xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.image-7-icon1,
.image-child {
  width: 202px;
  position: relative;
}
.image-7-icon1 {
  height: 206px;
  object-fit: cover;
}
.image-child {
  height: 76px;
  background-color: var(--color-gainsboro);
  display: none;
}
.kutputtli1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.image1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) var(--padding-xs) var(--padding-7xl)
    var(--padding-2xs);
  background-color: var(--color-gainsboro);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.frame-home-products-gallery-co-inner,
.image-7-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-7-parent {
  align-self: stretch;
  gap: 1px 0;
}
.frame-home-products-gallery-co-inner {
  width: 230px;
  padding: 0 var(--padding-9xl) 0 0;
  box-sizing: border-box;
}
.image-11-icon {
  width: 218px;
  height: 214px;
  position: relative;
  object-fit: cover;
}
.leaf-cup-plate-holder-child {
  height: 80px;
  width: 218px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.leaf-cup-plate3 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.leaf-cup-plate-holder {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xl) var(--padding-3xs) var(--padding-6xl)
    var(--padding-2xs);
  background-color: var(--color-gainsboro);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.frame-home-products-gallery-co-child,
.image-11-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-11-parent {
  align-self: stretch;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 1px 0;
}
.frame-home-products-gallery-co-child {
  width: 241px;
  padding: 0 var(--padding-3xl) 0 0;
  box-sizing: border-box;
}
.image-11-icon1 {
  width: 209px;
  height: 207px;
  position: relative;
  object-fit: cover;
}
.hanging-shelf-frame-item {
  height: 76px;
  width: 210px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.hanging-shelf2 {
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.hanging-shelf-frame3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-mid) var(--padding-11xl)
    var(--padding-base);
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.products-frame-wrapper,
.products-frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.products-frame2 {
  padding: 0 var(--padding-12xs) 0 0;
  gap: 1px 0;
}
.products-frame-wrapper {
  padding: 0 0 var(--padding-7xs);
}
.image-11-icon2 {
  width: 211px;
  height: 207px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.water-planter-frame-child {
  height: 83px;
  width: 211px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.water-planter1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.water-planter-frame1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-xs) var(--padding-12xl);
  background-color: var(--color-gainsboro);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.image-11-group {
  width: 211px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-home-products-gallery-co {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 0 71px;
  max-width: 100%;
}
.frame-home-products-gallery-co-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-container,
.gallery3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-container {
  width: 1348px;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-xl);
  gap: 104px 0;
  max-width: 100%;
}
.gallery3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-end;
  padding: 0 0 96px;
  gap: 21px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .image-parent {
    flex-wrap: wrap;
    gap: 0 75px;
  }
  .frame-home-products-gallery-co {
    flex-wrap: wrap;
    gap: 0 71px;
  }
}
@media screen and (max-width: 1025px) {
  .gallery- {
    font-size: var(--font-size-39xl);
  }
}
@media screen and (max-width: 750px) {
  .image-parent {
    gap: 0 75px;
  }
  .frame-home-products-gallery-co {
    gap: 0 71px;
  }
  .frame-container {
    gap: 104px 0;
  }
}
@media screen and (max-width: 450px) {
  .gallery- {
    font-size: var(--font-size-24xl);
  }
  .bird-feeder2,
  .kutputtli1 {
    font-size: var(--font-size-xl);
  }
  .frame-container {
    gap: 104px 0;
  }
}
