.login1 {
  margin: 0;
  height: 103px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.divmintrosectionslideimg {
  height: 14px;
  width: 1px;
  position: absolute;
  margin: 0 !important;
  bottom: 21px;
  left: 180px;
  background-color: var(--color-gainsboro);
}
.frame-password,
.login-label {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.login-label {
  width: 517px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.frame-password {
  width: 921px;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--font-size-51xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.username {
  height: 84px;
  position: relative;
  display: inline-block;
}
.password-box {
  align-self: stretch;
  height: 90px;
  position: relative;
  background-color: var(--color-gainsboro);
}
.frame-login,
.rectangle-username {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-username {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 535px;
}
.frame-login {
  width: 1071px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 0 28px;
  text-align: left;
  font-size: var(--font-size-24xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.password {
  height: 84px;
  width: 220px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.frame-child {
  align-self: stretch;
  height: 90px;
  position: relative;
  background-color: var(--color-gainsboro);
}
.frame-login-inner,
.frame-login1 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-login-inner {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-base);
  min-width: 535px;
}
.frame-login1 {
  width: 1071px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0 0 53px;
  gap: 0 28px;
  text-align: left;
  font-size: var(--font-size-24xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.text-sign-up-child {
  height: 76px;
  width: 310px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1db22c;
  display: none;
}
.login2 {
  height: 64px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-24xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.text-sign-up {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0 0 var(--padding-8xs);
  background-color: transparent;
  align-self: stretch;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1db22c;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.text-sign-up:hover {
  background-color: var(--color-limegreen-100);
}
.not-registered-sign {
  height: 49px;
  width: 296px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.label-registered {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.frame-not-registered1 {
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 45px 0;
}
.frame-not-registered {
  width: 455px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.login {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 176px 165px 207px var(--padding-xl);
  box-sizing: border-box;
  gap: 29px 0;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-12xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .login {
    padding-right: 82px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .login1 {
    font-size: var(--font-size-37xl);
  }
  .login2,
  .password,
  .username {
    font-size: var(--font-size-15xl);
  }
  .not-registered-sign {
    font-size: var(--font-size-6xl);
  }
}
@media screen and (max-width: 750px) {
  .frame-login-inner,
  .rectangle-username {
    min-width: 100%;
  }
  .login {
    padding-right: var(--padding-22xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .login1 {
    font-size: var(--font-size-23xl);
  }
  .login2,
  .password,
  .username {
    font-size: var(--font-size-7xl);
  }
  .not-registered-sign {
    font-size: var(--font-size-lgi);
  }
  .frame-not-registered1 {
    gap: 45px 0;
  }
}
