.sign-up1 {
  margin: 0;
  height: 80px;
  width: 545px;
  position: relative;
  font-size: var(--font-size-51xl);
  font-weight: 400;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  max-width: 100%;
}
.divwblockbackground {
  height: 10px;
  width: 1px;
  position: relative;
  background-color: var(--color-gainsboro);
  z-index: 1;
  margin-left: -353px;
}
.sign-up-text,
.sign-up-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.sign-up-text {
  flex: 1;
  align-items: flex-end;
}
.sign-up-text-wrapper {
  width: 695px;
  align-items: flex-start;
  padding: 0 75px;
  box-sizing: border-box;
}
.email {
  height: 59.4px;
  width: 230.5px;
  position: relative;
  font-size: var(--font-size-21xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: right;
  display: inline-block;
  flex-shrink: 0;
}
.frame-item {
  align-self: stretch;
  height: 63.6px;
  position: relative;
  background-color: var(--color-gainsboro);
}
.email-parent,
.frame-parent,
.rectangle-wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-wrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-2xs) 0;
  box-sizing: border-box;
  min-width: 561px;
}
.email-parent,
.frame-parent {
  align-items: flex-end;
}
.email-parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 29px;
}
.frame-parent {
  width: 1123px;
  flex-direction: column;
  gap: 40px 0;
}
.sign-up-inner {
  width: 1347px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.username1 {
  height: 59.4px;
  width: 230.5px;
  position: relative;
  font-size: var(--font-size-21xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: right;
  display: inline-block;
  flex-shrink: 0;
}
.divbackgroundwrapperrz {
  align-self: stretch;
  height: 63.6px;
  position: relative;
  background-color: var(--color-gainsboro);
}
.divbackgroundwrapperrz-wrapper,
.username-text {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.divbackgroundwrapperrz-wrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-2xs) 0;
  box-sizing: border-box;
  min-width: 561px;
}
.username-text {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 0 29px;
}
.password1 {
  width: 230.5px;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: 39px;
  background-color: transparent;
  height: 59.4px;
  position: relative;
  color: var(--color-black);
  text-align: right;
  display: inline-block;
}
.link {
  height: 63.6px;
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro);
  min-width: 560px;
  max-width: 100%;
}
.password-text,
.username-text-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.password-text {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 0 29px;
}
.username-text-parent {
  width: 1143px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 32px 0;
  flex-shrink: 0;
}
.confirm-password,
.navmargin {
  position: relative;
  max-width: 100%;
}
.confirm-password {
  width: 342px;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-13xl);
  background-color: transparent;
  height: 59px;
  color: var(--color-black);
  text-align: right;
  display: inline-block;
}
.navmargin {
  height: 64px;
  flex: 1;
  background-color: var(--color-gainsboro);
  min-width: 562px;
}
.frame-group,
.sign-up-group {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
  flex-shrink: 0;
}
.sign-up-group {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 27px;
}
.frame-group {
  width: 1254px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 56px 0;
  box-sizing: border-box;
  gap: 49px 0;
}
.frame-inner,
.sign-up2 {
  position: relative;
  max-width: 100%;
}
.frame-inner {
  height: 85px;
  width: 322px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1db22c;
  display: none;
}
.sign-up2 {
  flex: 1;
  font-size: var(--font-size-24xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) 0 var(--padding-mid);
  background-color: transparent;
  width: 322px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1db22c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}
.rectangle-parent:hover {
  background-color: var(--color-limegreen-100);
}
.sign-up,
.user-group {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.user-group {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 130px;
  max-width: 100%;
  flex-shrink: 0;
}
.sign-up {
  margin: 0;
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 155px 0 186px;
  gap: 33px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .sign-up1 {
    font-size: var(--font-size-37xl);
  }
  .sign-up-text-wrapper {
    padding-left: var(--padding-18xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
  }
  .email,
  .username1 {
    font-size: var(--font-size-13xl);
  }
  .password1 {
    font-size: var(--font-size-12xl);
  }
  .confirm-password {
    font-size: var(--font-size-7xl);
  }
  .sign-up {
    gap: 33px 0;
  }
}
@media screen and (max-width: 675px) {
  .rectangle-wrapper {
    min-width: 100%;
  }
  .frame-parent {
    gap: 40px 0;
  }
  .divbackgroundwrapperrz-wrapper,
  .link {
    min-width: 100%;
  }
  .username-text-parent {
    gap: 32px 0;
  }
  .navmargin {
    min-width: 100%;
  }
  .frame-group {
    gap: 49px 0;
  }
  .user-group {
    padding-left: 65px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .sign-up1 {
    font-size: var(--font-size-23xl);
  }
  .email,
  .username1 {
    font-size: var(--font-size-5xl);
  }
  .password1 {
    font-size: 23px;
  }
  .confirm-password {
    font-size: var(--font-size-lgi);
  }
}
