.products-frame-inner {
  height: 105px;
  width: 1440px;
  position: relative;
  background-color: var(--color-limegreen-200);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.home4 {
  width: 259px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.f-r-a-m-e {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.products4 {
  width: 259px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.f-r-a-m-e1 {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin-left: -92px;
}
.gallery4 {
  width: 259px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.f-r-a-m-e2 {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin-left: -92px;
}
.contact3 {
  width: 239px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.f-r-a-m-e3 {
  width: 143px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  margin-left: -92px;
}
.about3,
.cart4 {
  height: 66px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.cart4 {
  margin-left: -113px;
}
.about-cart-frame,
.products-frame3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.about-cart-frame {
  width: 365px;
  margin-left: -92px;
}
.products-frame3 {
  align-self: stretch;
  background-color: var(--color-limegreen-200);
  padding: var(--padding-20xl) 0 0;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: center;
  font-size: var(--font-size-7xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.cart- {
  margin: 0;
  width: 962px;
  position: relative;
  font-size: inherit;
  display: inline-block;
  font-style: italic;
  font-weight: 800;
  font-family: inherit;
  max-width: 100%;
}
.image-6-icon2 {
  height: 226px;
  width: 206px;
  position: relative;
  object-fit: cover;
}
.miniature-art-painting {
  margin: 0;
}
.miniature-art-painting-container {
  height: 54px;
  width: 596px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.buy-button-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.b {
  width: 137px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.about-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 83px 0;
  max-width: 100%;
}
.image-node,
.rajasthani-painting,
.subtotal-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.subtotal-text {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
  min-width: 419px;
}
.image-node,
.rajasthani-painting {
  flex-direction: row;
}
.image-node {
  flex: 1;
  gap: 0 50px;
}
.rajasthani-painting {
  align-self: stretch;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.miniature-art-frame-child {
  width: 857.5px;
  height: 4px;
  position: relative;
  object-fit: contain;
  max-width: 100%;
}
.miniature-art-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 61px 0;
  max-width: 100%;
}
.frame-child4 {
  width: 371px;
  height: 247px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
  max-width: 100%;
}
.subtotal {
  width: 303px;
  height: 44px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.subtotal-text1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  min-width: 138px;
}
.continue-text {
  height: 40px;
  width: 128px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 2;
}
.shop-frame,
.sub-frame-a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.sub-frame-a {
  flex: 1;
  row-gap: 20px;
}
.shop-frame {
  align-self: stretch;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  color: var(--color-black);
}
.products-frame-child1 {
  height: 56px;
  width: 305px;
  position: relative;
  background-color: var(--color-limegreen-200);
  display: none;
}
.buy-now {
  height: 50px;
  width: 261px;
  position: relative;
  font-weight: 800;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.cart-frame,
.products-frame4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.products-frame4 {
  flex: 1;
  background-color: var(--color-limegreen-200);
  align-items: flex-end;
  padding: var(--padding-4xs) 0 0;
  white-space: nowrap;
  z-index: 1;
}
.cart-frame {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 38px 0 0;
  font-size: 28px;
}
.rectangle-shape-a {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-limegreen-200);
  z-index: 1;
}
.continue-shopping {
  height: 36px;
  width: 283px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
  margin-left: -274px;
}
.about-cart-frame1,
.add-to-cart-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.add-to-cart-frame {
  flex: 1;
  align-items: center;
}
.about-cart-frame1 {
  height: 61px;
  align-items: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--font-size-7xl);
}
.f-r-a-m-e-wrapper,
.f-r-a-m-e4,
.rectangle-parent1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent1 {
  width: 371px;
  background-color: var(--color-gainsboro);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-7xl) 0 var(--padding-22xl) var(--padding-9xl);
  box-sizing: border-box;
  gap: 8px 0;
  min-width: 371px;
  color: var(--color-white);
}
.f-r-a-m-e-wrapper,
.f-r-a-m-e4 {
  flex-direction: row;
  align-items: flex-start;
}
.f-r-a-m-e4 {
  width: 1308px;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: 0 12px;
}
.f-r-a-m-e-wrapper {
  align-self: stretch;
  font-size: var(--font-size-6xl);
}
.cart3,
.empty-frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
}
.empty-frame1 {
  margin-right: -59px;
  width: 1402px;
  padding: 0 0 0 var(--padding-xl);
  gap: 47px 0;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-53xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.cart3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 0 0 468px;
  gap: 24px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .image-node,
  .rectangle-parent1 {
    flex: 1;
  }
  .f-r-a-m-e4 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) {
  .cart- {
    font-size: var(--font-size-39xl);
  }
  .image-node {
    flex-wrap: wrap;
  }
  .miniature-art-frame {
    gap: 61px 0;
  }
}
@media screen and (max-width: 725px) {
  .about-text {
    gap: 83px 0;
  }
  .miniature-art-frame,
  .subtotal-text {
    min-width: 100%;
  }
  .empty-frame1 {
    gap: 47px 0;
  }
}
@media screen and (max-width: 450px) {
  .cart- {
    font-size: var(--font-size-24xl);
  }
  .b,
  .miniature-art-painting-container {
    font-size: var(--font-size-xl);
  }
  .about-text {
    gap: 83px 0;
  }
  .image-node {
    gap: 0 50px;
  }
  .miniature-art-frame {
    gap: 61px 0;
  }
  .continue-text,
  .subtotal {
    font-size: var(--font-size-xl);
  }
  .sub-frame-a {
    flex-wrap: wrap;
  }
  .continue-shopping {
    font-size: 21px;
  }
  .rectangle-parent1 {
    min-width: 100%;
  }
}
