.home-frame-child,
.home6 {
  position: relative;
  z-index: 1;
}
.home-frame-child {
  height: 105px;
  width: 1440px;
  background-color: var(--color-limegreen-200);
  display: none;
  max-width: 100%;
}
.home6 {
  width: 259px;
  height: 66px;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.products-frame5 {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.products6 {
  width: 259px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.products-frame6 {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin-left: -92px;
}
.gallery6 {
  width: 259px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.products-frame7 {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin-left: -92px;
}
.contact6 {
  width: 239px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.products-frame8 {
  width: 143px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  margin-left: -92px;
}
.about6,
.cart6 {
  height: 66px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.cart6 {
  margin-left: -113px;
}
.contact-frame6,
.home-frame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-frame6 {
  width: 365px;
  margin-left: -92px;
}
.home-frame1 {
  align-self: stretch;
  background-color: var(--color-limegreen-200);
  padding: var(--padding-20xl) 0 0;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: center;
  font-size: var(--font-size-7xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.about-,
.image-12-icon {
  position: relative;
  max-width: 100%;
}
.about- {
  width: 962px;
  font-size: var(--font-size-53xl);
  display: inline-block;
  font-style: italic;
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.image-12-icon {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.story-mark-frame {
  height: 254px;
  width: 378px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  min-width: 378px;
  max-width: 100%;
}
.in-a-world1 {
  height: 227px;
  width: 673px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  min-width: 673px;
  max-width: 100%;
}
.image-frame4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 28px;
  max-width: 100%;
}
.blank-line1,
.each-handmade-item {
  margin: 0;
}
.each-handmade-item-container {
  width: 1099px;
  height: 375px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.about-frame-inner,
.image-frame-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.image-frame-group {
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.about-frame-inner {
  align-self: stretch;
  flex-direction: row;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.about-frame,
.about5 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
}
.about-frame {
  margin-right: -34px;
  width: 1293px;
  padding: 0 0 0 var(--padding-xl);
  gap: 48px 0;
  max-width: 100%;
}
.about5 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 0 0 117px;
  gap: 36px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .image-12-icon {
    align-self: stretch;
    width: auto;
  }
  .in-a-world1,
  .story-mark-frame {
    flex: 1;
  }
  .image-frame4 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) {
  .about- {
    font-size: var(--font-size-39xl);
  }
  .in-a-world1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 725px) {
  .about-frame {
    gap: 48px 0;
  }
  .about5 {
    gap: 36px 0;
  }
}
@media screen and (max-width: 450px) {
  .about- {
    font-size: var(--font-size-24xl);
  }
  .story-mark-frame {
    min-width: 100%;
  }
  .each-handmade-item-container,
  .in-a-world1 {
    font-size: var(--font-size-xl);
  }
}
