.home2,
.main-frame-child {
  position: relative;
  z-index: 1;
}
.main-frame-child {
  height: 105px;
  width: 1440px;
  background-color: var(--color-limegreen-200);
  display: none;
  max-width: 100%;
}
.home2 {
  width: 259px;
  height: 66px;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.home-wrapper {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.products1 {
  width: 259px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.products-wrapper {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin-left: -92px;
}
.gallery1 {
  width: 259px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.gallery-wrapper {
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin-left: -92px;
}
.contact2 {
  width: 239px;
  height: 66px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.contact-wrapper {
  width: 143px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  margin-left: -92px;
}
.about1,
.cart1 {
  height: 66px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.cart1 {
  z-index: 2;
  margin-left: -120px;
}
.about-parent,
.main-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.about-parent {
  width: 358px;
  margin-left: -92px;
}
.main-frame {
  align-self: stretch;
  background-color: var(--color-limegreen-200);
  padding: var(--padding-20xl) 0 0;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: center;
  font-size: var(--font-size-7xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.introduction- {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  display: inline-block;
  font-style: italic;
  font-weight: 800;
  font-family: inherit;
  white-space: pre-wrap;
  max-width: 100%;
}
.text-frame {
  width: 991px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.image-1-icon,
.in-a-world {
  position: relative;
  max-width: 100%;
}
.image-1-icon {
  height: 281px;
  width: 539px;
  object-fit: cover;
}
.in-a-world {
  height: 325px;
  width: 600px;
  display: inline-block;
  font-weight: 800;
  flex-shrink: 0;
  min-width: 600px;
}
.text-frame-parent,
.world-context {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.world-context {
  flex-direction: row;
  align-items: flex-start;
  gap: 0 28px;
  font-size: var(--font-size-5xl);
}
.text-frame-parent {
  flex-direction: column;
  align-items: center;
  gap: 23px 0;
}
.image-2-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.oil-bottle-sewing-box-child {
  height: 65px;
  width: 210px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.oil-bottle {
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  z-index: 2;
}
.oil-bottle-sewing-box {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xs) 24px var(--padding-2xs);
  background-color: var(--color-gainsboro);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.oil-bottle-sewing-box:hover {
  background-color: var(--color-silver);
}
.dual-frames {
  height: 291px;
  width: 218px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.image-3-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.hanging-bells-frame-child {
  height: 64px;
  width: 201px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.hanging-bells {
  height: 56px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.hanging-bells-frame {
  align-self: stretch;
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-5xs) 0 0;
  white-space: nowrap;
}
.oil-bottle-frame {
  height: 287px;
  width: 217px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
  gap: 1px 0;
}
.image-4-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bird-feeder-icon-child {
  height: 64px;
  width: 211px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.bird-feeder {
  height: 40px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.bird-feeder-icon {
  align-self: stretch;
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) 0 var(--padding-base);
  white-space: nowrap;
}
.oil-bottle-frame1 {
  height: 287px;
  width: 211px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1px 0;
}
.image-5-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div {
  height: 64px;
  width: 270px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.sewing-box {
  height: 36px;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.rectangle-group {
  align-self: stretch;
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) 0 var(--padding-xl);
  white-space: nowrap;
}
.dual-frames1,
.hang-bells-frame {
  display: flex;
  align-items: flex-end;
}
.dual-frames1 {
  height: 291px;
  width: 270px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1px 0;
}
.hang-bells-frame {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-5xs);
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-6xl);
}
.empty-frame1,
.home1,
.image-frame {
  display: flex;
  justify-content: flex-start;
}
.empty-frame1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 74px 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-53xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.home1,
.image-frame {
  box-sizing: border-box;
}
.image-frame {
  width: 1176px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  max-width: 100%;
}
.home1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 0 98px;
  gap: 19px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .image-1-icon,
  .in-a-world {
    flex: 1;
  }
  .world-context {
    flex-wrap: wrap;
  }
  .empty-frame1 {
    gap: 74px 0;
  }
}
@media screen and (max-width: 1050px) {
  .introduction- {
    font-size: var(--font-size-39xl);
  }
  .text-frame {
    max-width: calc(100% - 29px);
  }
  .hang-bells-frame {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .in-a-world {
    min-width: 100%;
  }
  .empty-frame1 {
    gap: 74px 0;
  }
}
@media screen and (max-width: 450px) {
  .introduction- {
    font-size: var(--font-size-24xl);
  }
  .in-a-world {
    font-size: var(--font-size-lgi);
  }
}
